[Unit]
Description=Private Eyes
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/gab/.assets/private-eyes/main.py
WorkingDirectory=/home/gab/.assets/private-eyes
Restart=on-failure

[Install]
WantedBy=default.target